
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #fff;
      color: #333;
    }

    header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      background-color: #f3f3f3;
    }

    .logo {
      height: 100px;
    }

    .top-right span {
      margin-top: 70px;
      margin-left: 30px;
      font-size: 14px;
    }

    .cadastro-container {
      max-width: 1000px;
      margin: 40px auto;
      padding: 0 20px;
    }

    .form-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      
    }
    .resetcad{
        background-color: red;
    }


        .form-header1 button {
      background-color: red;
      color: #f3f3f3;
      border: none;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      border-radius: 30px;
    }
    .form-header button {
      background-color: #1c6ab3;
      color: #f3f3f3;
      border: none;
      padding: 12px 24px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      border-radius: 30px;
    }

    .btn-secundario {
       display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      margin-top: 19px;
       background-color: #1d6bb3;
      color: #f3f3f3;
      border: none;
      padding: 16px 16px;
      font-weight: bold;
      font-size: 16px;
      height: 45px;
      cursor: pointer;
      border-radius: 30px;
    }

    .cadastro-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      padding: 12px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 16px;
      margin-top: 5px;
    }

    .form-row {
      display: flex;
      gap: 20px;
    }

    .genero .radio-group {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
    }

    .genero label {
      font-weight: normal;
    }
